@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply text-center text-neutral-50 bg-gray-800 text-lg font-bold px-8 py-2 rounded-2xl transition-[all]
  duration-150 ease-in hover:bg-gray-700;
}

.image-scale {
  @apply transition-all duration-300 ease-linear hover:scale-110;
}

.form-auth {
  @apply flex flex-col items-center w-full gap-12 px-8;
}

.form-group-auth {
  @apply flex flex-col gap-2;
}

.form-input-auth {
  @apply text-white transition-all ease-linear bg-transparent border-2 border-transparent outline-none w-60 border-b-white sm:w-80;
}

/* Loader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 120px;
  height: 120px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
